@import "tailwindcss";

@import "primereact/resources/themes/lara-light-cyan/theme.css";
@import "primereact/resources/primereact.min.css";
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

.common-styling {
    width: 100%;
    padding: 10px 20px;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;

    @media (max-width: 768px) {
        font-size: 0.85rem;
    }

    @media (max-width: 480px) {
        font-size: 0.75rem;
    }
}

.p-button {
    height: 44px !important;
    padding: 0.5rem !important;

    .p-button-label,
    .p-button-icon {
        font-size: 1rem !important;
        font-weight: 500 !important;

        @media (max-width: 768px) {
            font-size: 0.85rem !important;
        }

        @media (max-width: 480px) {
            font-size: 0.75rem !important;
        }
    }

    @media (max-width: 480px) {
        width: revert-layer !important;
    }

    &:focus {
        box-shadow: none !important;
    }
}

.p-inputtextarea,
.p-inputtext {
    width: 100% !important;
    background: transparent !important;
    border-radius: 0.5rem !important;
    padding: 0.5rem !important;
    font-size: 1rem !important;
    height: 40px !important;

    @media (max-width: 768px) {
        font-size: 0.85rem !important;
    }

    @media (max-width: 480px) {
        font-size: 0.75rem !important;
    }

    &:focus {
        box-shadow: none !important;
    }
}

.p-datatable {
    font-size: 1rem !important;

    @media (max-width: 768px) {
        font-size: 0.85rem !important;
    }

    @media (max-width: 480px) {
        font-size: 0.75rem !important;
    }
}

.globalLabel {
    font-size: 1rem !important;

    @media (max-width: 768px) {
        font-size: 0.85rem !important;
    }

    @media (max-width: 480px) {
        font-size: 0.75rem !important;
    }
}

.errorText {
    color: #FF0000;
}